.NavLinks{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 1.3rem;
    color: #fff;
    font-family: sant-sarif;
    background: #000;
}
.Navlink{
   cursor: pointer;
    margin: 5px 30px;
}

.Navlink:Hover{
    color: cadetblue;
    transition: all ease 1s;
}

/* 
responsiveness
*/
@media screen and (max-width:1120px){
.NavLinks{
    flex-wrap: wrap; 
}
.Navlink{
    margin: 5px;
}   
}
